# Server
SERVER_PORT=8080
CORS_ORIGIN=http://localhost:8081

# Web
VITE_WEB_PORT=8081
VITE_SERVER_URL=http://localhost:8080

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/e2e-ts-go?sslmode=disable
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=e2e-ts-go