node_modules
ios
android
target
dist
tmp
*.log
.*
!.agents
!.vscode
!.moon
.moon/cache
!.env.example
!.air.toml
!.gitignore
!.gitkeep
!.golangci.yml
!.oxfmtrc.json
!.oxlintrc.json
!.dockerignore
!.github
!.husky